PRIVATE_KEY=
RPC_URL_MONAD=
MONADSCAN_API_KEY=

# Step 1
AUSD_PT_IRM=
EARNAUSD_PT_IRM=

# Step 2
AUSD_PT_BORROW_VAULT=
AUSD_PT_COLLATERAL_VAULT=
EARNAUSD_PT_BORROW_VAULT=
EARNAUSD_PT_COLLATERAL_VAULT=

